In [1]:
import pandas as pd
import datetime

## Read Data

In [2]:
all_data = pd.read_csv("train.csv")

In [3]:
# summarize the shape of the dataset
all_data.shape

(387229, 136)

Split the DATE coulmn to 3 seperated columns named month, year and weekday

In [114]:
# from datetime import date
# import datetime

# df['Day'] = df['DATE'].apply(lambda x: 
#                       (date(datetime.datetime.strptime(x,"%Y-%m-%d").year,datetime.datetime.strptime(x,"%Y-%m-%d").month,
#                       datetime.datetime.strptime(x,"%Y-%m-%d").day)-date(2019,4,10)).days)
# df.drop(['DATE'],axis=1,inplace=True)

In [3]:
all_data['month'] = all_data['DATE'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").month)  
all_data['year'] = all_data['DATE'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").year)                                                                         
all_data['weekday'] = all_data['DATE'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").weekday())

In [4]:
#Remove date column
all_data = all_data.drop(columns='DATE')

In [5]:
# summarize the shape of the dataset
all_data.shape

(198126, 138)

In [ ]:
# summarize each variable
print(all_data.describe())

In [7]:
df = pd.DataFrame(all_data)

Get all mean, max and min values for the same numerical variables and do a function in order to have one indicatioe columns instead of 3 columns

In [12]:
numerical_dic = {'temperature_prev7d':3,'temperature_prev3d':6, 'rain_mm_prev7d': 9, 'rain_mm_prev3d': 12, 'humidity_prev7d' : 15,'humidity_prev3d':18, 'wind_speed_prev7d':21 , 'wind_speed_prev3d':24, 'wind_speed_prev7d' : 27, 'wind_speed_prev3d': 30, 'pressure_prev7d':33, 'pressure_prev3d': 36, 'temperature_f_next14d': 39, 'temperature_f_next7d': 42, 'rain_mm_f_next14d':45, 'rain_mm_f_next7d':48, 'humidity_f_next14d':51, 'humidity_f_next7d' : 54, 'speed_f_next14d':57, 'speed_f_next7d':60, 'pressure_f_next14d':63, 'pressure_f_next7d':66,       }
Numerical_df = df.loc[: , 'aircon_sum_wo_prev7d':'min_pressure_f_next7d']

In [13]:
def new_numerical_df(numerical_dic, Numerical_df):
  i = 0
  while(i<len(numerical_dic)):
    if list(numerical_dic.keys())[i] == 'aircon_sum_wo_prev':
      index=2
    else:
      index = 3
    
    df_new = Numerical_df[Numerical_df.columns[(list(numerical_dic.values())[i]):(list(numerical_dic.values())[i]+index)]]
    Numerical_df[list(numerical_dic.keys())[i]] = df_new.mean(axis=1)

    i= i+1


  # Numerical_df = Numerical_df.drop(columns = ['aircon_sum_wo_prev7d','aircon_sum_wo_prev14d'])
  Numerical_df=Numerical_df.drop(Numerical_df.columns.to_series()['mean_temperature_prev7d':'min_pressure_f_next7d'], axis=1)
  return Numerical_df

In [14]:
New_Numerical = new_numerical_df(numerical_dic, Numerical_df)

In [15]:
New_Numerical.head()

   aircon_sum_wo_prev7d  ...  pressure_f_next7d
0                   0.0  ...          45.586667
1                   0.0  ...          48.722222
2                   0.0  ...          53.545556
3                   0.0  ...          54.194444
4                   0.0  ...          56.391111

[5 rows x 23 columns]

Split the origin DataFrame to subdataframes and sort the numerical datafram according to their time (prev7d,prev3d,next7d, next14d)

In [106]:
categorical_df = df.loc[: ,'CELL_TYPE_Macro':'CELL_TYPE_micro'] + df.loc[: ,'GEOGRAPHIC_CLUSTER_K_0':'GEOGRAPHIC_CLUSTER_K_9']
aircon_sum_wo_df = df.loc[:, 'aircon_sum_wo_prev7d' : 'aircon_sum_target_next14d']
N_TRANSPORTED_SITES_df = df.loc[:,'N_TRANSPORTED_SITES']
Numerical_df = df.loc[: , 'mean_temperature_prev7d':'min_pressure_f_next7d']
Numerical_df = Numerical_df.reindex(sorted(Numerical_df.columns, reverse=True), axis=1)
alarm_df = df.loc[: , 'equipment_sum_alarms_prev14d':'temperature_sum_alarms_prev3d']
alarm_df = alarm_df.reindex(sorted(alarm_df.columns), axis=1)
persistance_df = (df.loc[:, 'equipment_max_persistance_prev7d': 'temperature_min_persistance_prev3d'])
persistance_df = persistance_df.reindex(sorted(persistance_df.columns, reverse=True), axis=1)
skewKurt_df = df.loc[:,'skew_equipment_alarms_prev14d': 'kurt_temperature_alarms_prev14d']
Date_df = df.loc[:,'month':'weekday']

In [107]:
Numerical_df.head()

   min_wind_speed_prev7d  ...  max_humidity_f_next14d
0                    5.0  ...                    89.0
1                    5.0  ...                    89.0
2                    5.0  ...                    89.0
3                    5.0  ...                    89.0
4                    5.0  ...                    89.0

[5 rows x 60 columns]

Get all values for the same numerical variables in different time and do a mean function in order to have one indicatioe columns instead of 4 columns

In [104]:
index=0
incr_index = 4
counter = (Numerical_df.shape)[1]
while(index<counter):
  df_new = Numerical_df.iloc[:,index:index+incr_index]
  Numerical_df['ind_'+list(Numerical_df.columns)[index]] = df_new.mean(axis=1)
  index = index + 4

Numerical_df=Numerical_df.drop(Numerical_df.columns.to_series()['min_wind_speed_prev7d':'max_humidity_f_next14d'], axis=1)
Numerical_df

        ind_min_wind_speed_prev7d  ...  ind_max_humidity_prev7d
0                            6.25  ...                    85.00
1                            6.25  ...                    85.00
2                            6.25  ...                    88.50
3                            7.75  ...                    88.50
4                            6.75  ...                    88.50
...                           ...  ...                      ...
198121                       6.25  ...                    64.25
198122                       6.00  ...                    64.75
198123                       6.25  ...                    62.00
198124                       6.25  ...                    60.50
198125                       6.50  ...                    46.50

[198126 rows x 15 columns]